
.profileDiv{
    background-color: rgb(0, 0, 0);
}
.profilaHeader{
    background-color: rgb(34, 34, 34);

}
.profilaText{
    color: white;
    font-size: 28px;
}
.perfilInfor{
    background-color: rgb(34, 34, 34);
}
.infor{
    font-size: 25px;
}
.xuria{
    color: white;
}
.select{
    background-color: transparent;
    color: white;
}
.inputXuri {
    color: white;
}
.botoia{
    background-color: green;
}