@font-face {
    font-family: 'MiFuente';
    src: url('../../js/fonts/horizon.otf') format('truetype');
  }
  @font-face {
    font-family: 'MiFuente2';
    src: url('../../js/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
  }
body {
    margin: auto;
    background-color: rgb(0, 0, 0);
}
button.fitxatu {
    background-color: #ff0019; /* Rojo Danger */
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border: 2px solid #ff0019; /* Borde para consistencia */
    border-radius: 0; /* Borde recto */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color */
    width: 200px; /* Ancho fijo de los botones */
    text-align: center;
    margin-bottom: 10px;
    margin-top: 2%;
    height: 50px;
  }
  
  button.fitxatu:hover {
    background-color: #000; /* Fondo negro en hover */
    color: rgb(255, 0, 0); /* Texto blanco en hover */
  
  }
  button.ezabatu {
    background-color: #ff0019; /* Rojo Danger */
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border: 2px solid #ff0019; /* Borde para consistencia */
    border-radius: 0; /* Borde recto */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color */
    width: 200px; /* Ancho fijo de los botones */
    text-align: center;
    margin-bottom: 10px;
    margin-top: 2%;
    height: 50px;
  }
  
  button.ezabatu:hover {
    background-color: #000; /* Fondo negro en hover */
    color: rgb(255, 0, 0); /* Texto blanco en hover */
  
  }
  .botoiak{
    width: 440px;
  }
  button.aldatu {
    background-color: #ff0019; /* Rojo Danger */
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border: 2px solid #ff0019; /* Borde para consistencia */
    border-radius: 0; /* Borde recto */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color */
    width: 200px; /* Ancho fijo de los botones */
    text-align: center;
    margin-bottom: 10px;
    margin-top: 2%;
    margin-right: 2%;
    height: 50px;
  }
  
  button.aldatu:hover {
    background-color: #000; /* Fondo negro en hover */
    color: rgb(255, 0, 0); /* Texto blanco en hover */
  
  }
.main-gidari{
    font-family: 'MiFuente2', sans-serif;
    margin: auto;
    display: flex;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
    padding: 20px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 1px;
    margin-top: 1%;
    width: 80%;
    

  }
.datuak{
    display: flex;
}
.datuak img{
    width: 300px;
    height: 200px;
}
.mota {
    font-family: 'MiFuente';
    background: linear-gradient(to right, rgb(0, 218, 247), rgb(0, 81, 255));
    height: 40px;
    width: 12%;
    border-radius: 2px;
    padding-left: 1.5%;
  } 
.mota p{
    text-align: center;
    font-size: 25px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: rgb(11, 13, 17);
    color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    height: 800px;
    padding: 1.5rem;
    max-width: 70rem; 
    margin: 0 auto;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .modal-content .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin: auto;
  }
  
 
 
  
  .modal-content .pilot-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
    margin: auto;
  }
  
  .modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  .action-options {
    position: absolute; /* Coloca las opciones encima del contenido */
    /* Puedes ajustar el `left` si necesitas moverlo más hacia un lado */
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 9999; /* Asegúrate de que las opciones estén por encima de otros elementos */
    padding: 10px;
  }
  
  .option-button {
    padding: 5px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .option-button:hover {
    background-color: #f0f0f0; /* Cambio en el hover para mejorar la interactividad */
  }
  
.usuario{
    display: flex;
    font-family: 'MiFuente';
    width: 1000px;
    gap: 20px;
}
.usuarioIzena{
    width: 72%;
    font-size: 30px;  
}
.f1LogoGidari img{
    width: 10%;
    height: 80px;
}
.gidariEgoera{
    display: flex;
}
.gidariEgoera img{
    width: 5%;
    height: 40px;
}
.gidariEgoera p{
    font-size: 25px;
}
.gidariBalorea{
    display: flex;
}
img.kategoria{
    width: 300px;
    height: 300px;

}
.gidariBalorea p{
    font-size: 30px;
}
.gidariBalorea img{
    margin-top: 1%;
    width: 5%;
    height: 25px;
}
.gidariPuntuak{
    display: flex;
}  
.punto{
    font-family: 'MiFuente2';
    font-weight: 400;
    color: gray;
}
.prfy{
    font-family: 'MiFuente';
    color: white;
    font-size: 30px;
}
.prezioa{
    display: flex;
}
.prezioa p{
    margin-right: 4%;
}
.numeroValor{
    color: gray;
    font-size: 29px;
}

.prezioa{
    font-size: 29px;
}

.klausula img{
    width: 8%;
    margin-top: 4%;
}
.numeroPrecio{
    margin-top: 2%;
    font-size: 35px;

}
.media{
    display: flex;
}
.mediaP{
    margin-top: 4%;
    color: gray;
    font-weight: 400;

}
.mediaValor{
    margin-left: 2%;
    font-size: 28px;
}

.talde{
    color: gray;
    padding-left: 10%;
    padding-right: 10%;
}
.talde a{
    text-decoration: none;
    font-size: 25px;
}
.countdown {
    text-align: center;
    margin: 15px 0;
    font-size: 18px;
  }
  
  .countdown-text {
    color: #ff5555;
    font-weight: bold;
    font-size: 24px;
  }
  
