.saldototala {
    background-color: rgb(219, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura alineación vertical de su contenido */
    color: white;
    font-size: 30px;
    padding: 1%;
    font-family: 'MiFuente2';
    position: fixed; /* Fija el elemento */
    bottom: 0; /* Lo coloca en la parte inferior de la pantalla */
    width: 80%; /* Define el ancho */
    left: 50%; /* Lo posiciona relativo al centro */
    transform: translateX(-50%); /* Lo centra horizontalmente */
    z-index: 10; /* Lo pone por encima de otros elementos */
    margin-bottom: 130px;
}

.saldototala p {
    font-family: 'MiFuente';
    font-size: 40px;
}
.main-merkatua{
    margin-bottom: 13%;
}
.merkatuaFooter{
    background-color: black;
    width: 100%;
}

