.saldototala {
    background-color: rgb(219, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Asegura alineación vertical de su contenido */
    color: white;
    font-size: 30px;
    padding: 1%;
    font-family: 'MiFuente2';
    position: fixed; /* Fija el elemento */
    bottom: 0; /* Lo coloca en la parte inferior de la pantalla */
    width: 80%; /* Define el ancho */
    left: 50%; /* Lo posiciona relativo al centro */
    transform: translateX(-50%); /* Lo centra horizontalmente */
    z-index: 10; /* Lo pone por encima de otros elementos */
    margin-bottom: 100px;
    height: 150px;
}

.saldototala p {
    font-family: 'MiFuente';
    font-size: 40px;
}
p.dirua{
    font-family: 'MiFuente2';
    margin-right: 5%;
    font-size: 35px;


}
p.diruaminus{
    font-family: 'MiFuente2';
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: -7%;
}

p.diruaminus2{
    font-family: 'MiFuente2';
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin-top: -7%;
}
.saldoDiv{
    display: flex;
    padding-top: 10%;
    }
.divpuja{
    
}
.saldoDiv img{
    width: 25%;
    height: 50px;
    margin-top: 2%;
}
.main-merkatua{
    margin-bottom: 13%;
}
.merkatuaFooter{
    background-color: black;
    width: 100%;
}

