@font-face {
    font-family: 'MiFuente';
    src: url('../../js/fonts/horizon.otf') format('truetype');
  }
  @font-face {
    font-family: 'MiFuente2';
    src: url('../../js/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
  }
.dena{
    font-family: 'MiFuente2';
    background-color: rgb(11, 15, 24);
    height: 15vh;
}
.dena {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Espacio entre elementos */
  padding: 10px 20px; /* Espaciado interno */
  background-color: rgb(11, 15, 24);
  color: #fff; /* Color del texto */
  width: 100%; /* Asegurar que ocupa todo el ancho */
  box-sizing: border-box; /* Incluir padding en el ancho total */
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  
}

.hamburger {
  font-size: 18px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.f1 {
  flex: 1; /* Ocupa todo el espacio restante */
  text-align: center; /* Centrar el texto */
  font-size: 30px;
  font-weight: bold;
  color: red;
}

.plus {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: flex-end; /* Empujar el plus al final del contenedor */
  cursor: pointer;
}

.plus img {
  width: 25px;
  height: 25px;
}
