@font-face {
    font-family: 'MiFuente';
    src: url('../../js/fonts/horizon.otf') format('truetype');
  }
  @font-face {
    font-family: 'MiFuente2';
    src: url('../../js/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
  }
.dena{
    font-family: 'MiFuente2';
    background-color: rgb(11, 15, 24);
    height: 15vh;
}
.header{
    font-size: 40px;
    color: white;
    margin-left: 20%;
    font-weight: 600;
}
.dena {
    display: flex;
    justify-content: space-between;  /* Espacia los elementos entre sí */
    align-items: center;  /* Centra verticalmente los elementos */
    padding: 0 20px;  /* Ajusta el espaciado horizontal si es necesario */
  }
  
  .header {
    flex-grow: 1;  /* Hace que el header ocupe todo el espacio disponible */
    margin-left: 37%;
  }
  
  .plus {
    display: flex;
    justify-content: flex-end;  /* Alinea el icono plus a la derecha */
    align-items: center;  /* Alinea el icono verticalmente */
    margin-right: 2%;
    width: 20%;
  }
  
  .hamburger {
    position: absolute;
    left: 20px;  /* Pegado a la izquierda */
  }
.f1{
    margin-left: 1%;
    color: red;
}

.plus img{
    width: 10%;
}
button.hamburger{
    margin-left: 2%;
}
