.container1 {
  background-color: black;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-family: 'MiFuente';
}

.argazkiak {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.argazkiak > div {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.argazkiak img {
  max-width: 60px;
  height: auto;
  margin-bottom: 5px;
}

.klasifikazioa,
.aktibitatea,
.taldeaInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.taldeaInput img,
.aktibitatea img {
  margin: auto;
}

.taldeaInput a {
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.argazkiak p,
.argazkiak a {
  font-size: 14px;
  color: gray;
  margin: 0;
}

.argazkiak div:hover p,
.argazkiak div:hover a {
  color: red;
}

.klasifikazioa a,
.taldeaInput a,
.ligak a, .aktibitatea a {
  text-decoration: none;
}
.klasifikazioa img{
  margin: auto;
}

.taldeaInput a {
  color: rgb(255, 0, 0);
}

.ligak:hover a {
  color: red;
}

/* 🔹 SOLO REDUCE ELEMENTOS EN MÓVILES 📱 */
@media screen and (max-width: 768px) {
  
  .container1 {
    padding: 10px ;
    margin-right: 100px;
    width: 100%;

  }

  .argazkiak {
    gap: 10px;
    margin-right: 5px;
  }

  .argazkiak > div {
    width: 80px; /* Compacto */
  }

  .argazkiak img {
    max-width: 40px; /* Más pequeño */
  }

  .argazkiak p,
  .argazkiak a {
    font-size:7px;
  }

  .taldeaInput a {
    font-size: 7px;
  }
  .merkatua img{
    max-width: 34px;
  }
  .ligak img{
    max-width: 34px;
  }
 
 
}

@media screen and (max-width: 480px) {
  .container1 {
    padding: 5px 0;
  }

  .argazkiak {
    gap: 5px;
  }

  .argazkiak img {
    max-width: 35px;
  }

  .argazkiak p,
  .argazkiak a {
    font-size: 7px;
  }
  .taldeaInput a {
    font-size: 7px;
  }

 
}
